body{
  margin: 0;
  height: 92vh;
  background-color: #ced4da;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  text-align: center;
  background-color: #adb5bd;
  height: 15vh;
}
h1{
  font-weight: 700;
  margin: 0;
}
main{
  text-align: left;
  background-color: #6c757d;
}
article{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;

}
p{
  margin: 0;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #adb5bd;
  height: 5vh;
}
